@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Monterrey<br />
    Nuevo León
</address>

<address>
    <strong>WebSite:</strong> <a target="_blank" href="http://www.escamillasweb.com">www.escamillasweb.com</a><br />
    <strong>Email:</strong> <a href="mailto:jesus@escamillasweb.com">jesus@escamillasweb.com</a><br />
</address>
