@model List<dotnetpractice.Models.ViewModels.Categories.CategoriesVM>

@{
    ViewData["Title"] = "All Categories";
}

<section class="row">
    <h1>Categories</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Categories List</div>
        <div class="panel-body">
            <p>...</p>
        </div>
        <ul class="list-group">
            @foreach (var category in Model)
            {
                <li class="list-group-item"><a href="/Categories/@category.Id">@category.Name</a> <small>@category.Description</small></li>
            }
        </ul>
    </div>
</section>

