@model List<dotnetpractice.Models.ViewModels.Products.ProductsVM>

@{
    ViewData["Title"] = "Home Page";
}

<section class="row">
    <h1>Shopping Cart</h1>
    <div id="cartProducts" class="row"></div>
</section>

@section scripts {
  <script id="cartProducts-template" type="text/x-handlebars-template">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{name}}</div>
        <div class="panel-body">
            <p>{{description}}</p>
            <p>{{price}}</p>
        </div>
        <div class="panel-footer">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Add to Cart</button>
            <a href="/Products/{{id}}" class="btn btn-default">See Details</a>
          </div>
        </div>
      </div>
    </div>
  </script>

    <script type="text/javascript">
      var source = $("#cartProducts-template").html();
      var template = Handlebars.compile(source);
      $.post('/Api/CartApi/GetCartProducts', {}, function(res) {
        console.log(res);
        var data = res.data;
        for (i in data) {
          $('#cartProducts').append(template(data[i]));
        }
      });
    </script>
}
