@model List<dotnetpractice.Models.ViewModels.Products.ProductsVM

@{
    ViewData["Title"] = "Home Page";
}

<section>
  <div class="row">
    <h1>New Product</h1>
  </div>
  <hr>
  <div class="row">
    <div class="panel">
      <div class="panel-body">
        <form id="newProductForm" class="col-sm-8 col-sm-offset-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" maxlength="30">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="8" cols="80" placeholder="Description"></textarea>
          </div>
          <div class="form-group">
            @Html.DropDownList("Category", new SelectList(Model, "Slug", "Name"), "Select Category", new { @class = "form-control" })
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Save" >
            <a href="/Products" class="btn btn-default">Return</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

@section scripts {
  <script type="text/javascript">
    $('#newProductForm').submit(function(event) {
      event.preventDefault();
      console.log('save');
      $.post('/Api/ProductsApi', {}, function(res) {
        console.log(res);
      });
    });
  </script>
}
