
@{
    ViewData["Title"] = "Add Product";
}

<section id="app">
  <div class="row">
    <h1>New Product</h1>
  </div>
  <hr>
  <div class="row">
    <div class="panel">
      <div class="panel-body">
          <form id="addProductForm" class="col-sm-8 col-sm-offset-2" v-on:submit.prevent="saveProduct">
              <div class="form-group">
                  <input type="text" class="form-control" id="Name" placeholder="Name" maxlength="30" v-model="viewModel.Name">
              </div>
              <div class="form-group">
                  <textarea class="form-control" rows="8" cols="80" id="Description" placeholder="Description" v-model="viewModel.Description"></textarea>
              </div>
              <div class="form-group">
                  <input type="number" class="form-control" id="Inventory" placeholder="Inventory" v-model="viewModel.Inventory">
              </div>
              <div class="form-group">
                  <input type="number" class="form-control" id="Price" placeholder="Price" v-model="viewModel.Price">
              </div>
              <div class="form-group">
                  <select id="Category" class="form-control" v-model="viewModel.Category">
                    <option v-for="cat in viewModel.Categories" :value="cat.Id">{{ cat.Name }}</option>
                </select>
              </div>
              <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Update">
                  <a href="/Products" class="btn btn-default">Return</a>
              </div>
          </form>
      </div>
    </div>
  </div>
</section>

@section scripts {
  <script type="text/javascript">
      var app = new Vue({
          el: "#app",
          data: function() {
              return {
                  viewModel: viewModel
              }
          },
          methods: {
              saveProduct() {
                  console.log(this.viewModel);

              }
          }
      });
  </script>
}
